@import 'variables.module.scss';

/*
  CSS approach:
  - general to specific
  - mobile first
*/

*,
::before,
::after {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: inherit;
    overflow: hidden auto;
}

html {
    font-size: 62.5%; // makes 1rem = 10px
    box-sizing: border-box;
}

body {
    font-size: 1.6em; // default font-size: 16px
    font-family: $font-family-std;
    line-height: 1.3;
    color: $text;
}

// fonts
h1 {
    font-size: $font-lg-3;
}
h2 {
    font-size: $font-lg-2;
}
h3 {
    font-size: $font-lg-1;
}
h4,
p,
li,
input,
label,
textarea,
select {
    font-size: $font-std;
}
h5 {
    font-size: $font-small;
}
h6 {
    font-size: $font-tiny-1;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
    margin: 0 0 $font-std 0;

    &:last-child {
        margin-bottom: 0;
    }
}
::selection {
    background-color: $text-highlight;
}

// lists
ul,
ol {
    padding-left: 2em;

    li {
        overflow: visible;
    }
}

// links
@mixin linkStyles($color, $visitedStyles: '', $underlined: '') {
    background-color: transparent;
    transition: $transition-std;
    color: $color;
    text-decoration: underline;

    @if $underlined == 'none' {
        text-decoration: none;
    }

    @if $visitedStyles != 'none' {
        &:visited {
            color: darken($color, 25%);
        }
    }

    &:hover {
        color: lighten($color, 20%);
        transition: $transition-std;
    }
    &:active {
        color: $red;
    }
}
a {
    @include linkStyles($links);
}
.linkSecondary {
    @include linkStyles($secondary);
}

// buttons
@function contrastText($bg, $optionalColor: -1) {
    $result: invert($bg);
    $lightness: lightness($result);
    @if ($lightness < 50) {
        $result: $text;
    }
    @if ($lightness > 49) {
        $result: $white;
    }
    @if (type_of($optionalColor) == 'color') {
        $result: $optionalColor;
    }
    @return $result;
}

@mixin buttonStyles($bg, $optionalColor: '') {
    $contrastedColor: contrastText($bg, $optionalColor);
    font-size: $font-std;
    padding: 1rem 3rem;
    background-color: $bg;
    color: $contrastedColor;
    transition: $transition-std;
    text-decoration: none;
    line-height: 1.2;
    display: inline-block;

    &:hover {
        cursor: pointer;
        background-color: lighten($bg, 15%);
        color: $contrastedColor;
    }
    &:focus {
        background-color: lighten($bg, 10%);
        color: $contrastedColor;
    }
    &:active {
        background-color: lighten($bg, 25%);
        color: $contrastedColor;
    }
    &:visited {
        color: $contrastedColor;
    }

    &.marginTop {
        margin-top: 2rem;
    }
}

.btnPrimary {
    @include buttonStyles($primary);
}
.btnSecondary {
    @include buttonStyles($secondary);
}
.btnRed {
    @include buttonStyles($red);
}
.btnGreen {
    @include buttonStyles($green);
}
.btnGrey {
    @include buttonStyles($grey-dark);
}

// containers
.buttonsContainerSpaced {
    display: flex;
    justify-content: space-between;

    button ~ button {
        margin-left: 2rem;
    }

    &.marginTop {
        margin-top: 2rem;
    }
}
.pageContainer {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    .outer {
        width: 100%;

        &.mainBody {
            margin-top: $header-height;
        }

        .inner {
            max-width: $max-content-width;
            padding: 0 $content-padding;
            margin: 0 auto;

            .inner {
                // prevents double-innered classes applying padding again
                padding: 0;
            }
        }

        .patterned {
            padding: $content-vertical-padding 0;

            &:nth-child(odd) {
                background-color: $white;
            }
            &:nth-child(even) {
                background-color: $grey-light;
            }
        }
    }
}

// text
.greenText {
    color: $green;
}
.redText {
    color: $red;
}

// errors
.errorText {
    color: $white;
    font-weight: 700;
    padding: 2rem 3rem;
    background-color: $red;
    display: flex;
    align-items: center;
    justify-content: center;

    span {
        font-size: $font-std;
        margin-left: 1em;
    }

    svg {
        font-size: $font-lg-3;
    }

    &.marginTop {
        margin-top: 2rem;
    }
}

// modal
.modalOverlayWrap > div {
    // cannot use overlayClassName
    z-index: 1000;
}
.modal {
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    transform: translate(-50%, -50%);
    position: absolute;
    background-color: $white;
    padding: $font-lg-3;
    min-width: 25vw;
    border: $border-std;

    .close {
        position: absolute;
        right: $font-lg-1;
        top: $font-lg-1;
        font-size: $font-lg-2;
        background: none;
        color: $red;
        transition: $transition-std;

        &:hover {
            cursor: pointer;
            color: $text;
            transition: $transition-std;
        }
    }

    .buttonsContainer {
        // @todo: do we nee dthis now that we have buttonsContainerSpaced? provably not
        display: flex;
        justify-content: space-between;

        button ~ button {
            margin-left: 2rem;
        }
    }
}

// forms
form {
    input,
    textarea {
        border: $border-std;
        padding: 1rem;
        margin-bottom: 2rem;
    }

    textarea {
        font-family: $font-family-std;
    }

    label {
        margin-bottom: 1rem;
    }

    select {
        padding: 1em 1.5em 1em 1em;
        font-size: $font-small;
        margin: 0 auto 2rem 0;
        background: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0Ljk1IDEwIj48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6I2ZmZjt9LmNscy0ye2ZpbGw6IzQ0NDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmFycm93czwvdGl0bGU+PHJlY3QgY2xhc3M9ImNscy0xIiB3aWR0aD0iNC45NSIgaGVpZ2h0PSIxMCIvPjxwb2x5Z29uIGNsYXNzPSJjbHMtMiIgcG9pbnRzPSIxLjQxIDQuNjcgMi40OCAzLjE4IDMuNTQgNC42NyAxLjQxIDQuNjciLz48cG9seWdvbiBjbGFzcz0iY2xzLTIiIHBvaW50cz0iMy41NCA1LjMzIDIuNDggNi44MiAxLjQxIDUuMzMgMy41NCA1LjMzIi8+PC9zdmc+)
            no-repeat;
        background-position: right 5px top;
        appearance: none;
        padding-right: 2em;
        border: $border-std;
    }

    .required {
        color: $red;
        margin-bottom: 2rem;
        margin-top: -1rem;
    }

    .formInner {
        display: flex;
        flex-direction: column;

        .inputContainer {
            display: inherit;
            flex-direction: inherit;
        }
    }
}
