// dimensions
// widths
$content-padding: 20px;
$max-content-width: 960px + ($content-padding * 2);
$content-vertical-padding: 7.5rem;
// heights
$header-height: 60px;
$header-padding: 30px;
$viewport-height-adjusted: calc(100vh - #{$header-height});

// colours
// std
$grey-light: #f2f2f2;
$grey-medium: #e5e5e5;
$grey-dark: #ccc;
$white: #fff;
// brand
$red: #ba371b;
$green: #698b41;
$blue: #0000ff;
$primary: #94d5f6;
$secondary: #354052;
$text: #393939;
$text-highlight: $primary;
$links: $blue;

// borders
$border-colour: $grey-dark;
$border-radius: 0.25em;
$border-std: 1px solid $border-colour;

// fonts
// sizes
$font-lg-4: 3.6rem;
$font-lg-3: 3rem;
$font-lg-2: 2.4rem;
$font-lg-1: 2rem;
$font-std: 1.8rem;
$font-small: 1.6rem;
$font-tiny-1: 1.4rem;
$font-tiny-2: 1.2rem;
$font-tiny-3: 1rem;
// families
$font-family-std: 'Verdana', 'Arial', sans-serif;

// styles
$transition-std: 0.4s ease all;

// devices
$desktop: 1200px;
$tablet: 768px;
$mobile: 767px;
$small: 600px;
$smallest: 480px;

// breakpoints
@mixin desktopStyles {
    @media (min-width: $desktop) {
        @content;
    }
}
@mixin tabletStyles {
    @media (min-width: $tablet) and (max-width: $desktop - 1px) {
        @content;
    }
}
@mixin nonMobileStyles {
    @media (min-width: $tablet) {
        @content;
    }
}
@mixin mobileStyles {
    @media (max-width: $mobile) {
        @content;
    }
}
@mixin smallStyles {
    @media (max-width: $small) {
        @content;
    }
}
@mixin smallestStyles {
    @media (max-width: $smallest) {
        @content;
    }
}
