@import '../../variables.module.scss';
@import '../../default.module.scss';

.heroAreaOuter {
    min-height: $viewport-height-adjusted;
    display: flex;

    header + div > div &:first-of-type {
        // hero area immediately after header
        margin-top: -$header-padding;
    }

    .heroAreaInner {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        flex-direction: column;

        @include nonMobileStyles {
            flex-direction: row;
            justify-content: space-evenly;
        }

        &.fullWidth {
            max-width: none;
        }

        $vertical-spacing: 2em;

        .textAndButtonContainer {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;

            @include mobileStyles {
                margin-bottom: $vertical-spacing;
            }

            @include nonMobileStyles {
                max-width: 60%;
            }
        }

        img {
            margin: $vertical-spacing 0;
            max-height: 500px;
            object-fit: contain;
            max-height: 300px;
            max-width: 350px;
            width: 100%;
            order: -1;

            @include nonMobileStyles {
                padding-left: 1em;
                order: 0;
                max-height: 500px;
                max-width: 550px;
            }

            @include tabletStyles {
                padding-left: 2em;
            }
        }
    }
}
