@import '../variables.module.scss';
@import '../default.module.scss';

.footerOuter {
    margin-top: auto; // pushes footer to bottom if total content height < 100vh
    background-color: $secondary;
    color: $primary;
    font-size: $font-tiny-1;

    .footerInner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 0.5em !important; // @todo...
        padding-bottom: 0.5em !important; // @todo...
        flex-direction: column;
        text-align: center;

        @include nonMobileStyles {
            flex-direction: row;
        }

        ul {
            display: flex;
            list-style: none;
            padding-left: 0;
            margin-top: 0.75em;

            @include nonMobileStyles {
                margin-top: 0;
            }

            li {
                font-size: $font-tiny-1;

                ~ li {
                    margin-left: 1em;

                    &::before {
                        content: '|';
                        margin-right: 1em;
                        opacity: 0.5;
                    }
                }

                a {
                    @include linkStyles($primary, 'none', 'none');
                }
            }
        }
    }
}
