@import '../variables.module.scss';
@import '../default.module.scss';

.headerOuter {
    background-color: $primary;
    height: $header-height;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    overflow: visible;
    width: 100vw !important; // @todo: overridden, causing header width problem if height > 100vh
    // need &.outer from other file to remove !important; becoming a real issue now...

    &.fullWidth .headerInner {
        max-width: none;
    }

    .headerInner {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        overflow: visible;

        h2 {
            margin: 0;

            a {
                @extend .linkSecondary;
                text-decoration: none;
            }
        }

        .rightArea {
            display: flex;
            align-items: center;
            overflow: visible;

            > svg {
                font-size: $font-lg-3;
                cursor: pointer;
                display: inline-block;

                @include nonMobileStyles {
                    display: none;
                }
            }

            .rightAreaInner {
                align-items: center;
                display: none;
                flex-direction: column;
                background: $white;
                position: absolute;
                left: 0;
                top: $header-height;
                height: $viewport-height-adjusted;
                width: 100vw;
                overflow-y: auto;

                &.open {
                    display: flex;
                }

                @include nonMobileStyles {
                    all: unset;
                    display: flex;
                    align-items: center;
                }

                ul {
                    list-style: none;
                    padding: 0;
                    margin: 0;
                    width: 100%;
                    display: table;

                    @include nonMobileStyles {
                        width: unset;
                        display: flex;
                        align-items: center;
                    }

                    li {
                        display: flex;

                        @include nonMobileStyles {
                            display: list-item;
                            position: relative;
                        }

                        &:not(:last-child) {
                            @include nonMobileStyles {
                                &::after {
                                    content: '|';
                                    margin-left: 1em;
                                    color: $secondary;
                                    opacity: 0.25;
                                    position: absolute;
                                    right: 0;
                                    top: 50%;
                                    transform: translateY(-50%);
                                    pointer-events: none;
                                }
                            }

                            a {
                                border-bottom: $border-std;
                            }
                        }

                        a {
                            flex: 0 0 100%;
                            display: flex;
                            padding: 1em 1.5em 1em $content-padding;
                            align-items: center;
                            @extend .linkSecondary;
                            text-decoration: none;

                            svg {
                                margin-left: auto;
                                display: inline-block;
                                font-size: $font-lg-2;

                                @include nonMobileStyles {
                                    display: none;
                                }
                            }
                        }
                    }

                    // === start of old, non-mobile-first styles ===
                    // keep in case I want to revert

                    // li {
                    //     @include mobileStyles {
                    //         // .pageContainer & > a { // cannot do this, because .pageContainer is in another file
                    //         // ask on stackoverflow how to reference this, then remove !important
                    //         margin-right: 0 !important;
                    //         display: flex;

                    //         &:not(:last-child) a {
                    //             border-bottom: $border-std;
                    //         }
                    //     }

                    //     &:not(:last-child) {
                    //         margin-right: 1em;

                    //         @include nonMobileStyles {
                    //             &::after {
                    //                 content: '|';
                    //                 margin-left: 1em;
                    //                 color: $secondary;
                    //                 opacity: 0.25;
                    //             }
                    //         }
                    //     }

                    //     a {
                    //         @extend .linkSecondary;
                    //         text-decoration: none;

                    //         svg {
                    //             display: none;
                    //         }

                    //         @include mobileStyles {
                    //             flex: 0 0 100%;
                    //             display: flex;
                    //             padding: 1em 1.5em 1em $content-padding;
                    //             align-items: center;

                    //             svg {
                    //                 margin-left: auto;
                    //                 display: inline-block;
                    //                 font-size: $font-lg-2;
                    //             }
                    //         }
                    //     }
                    // }

                    // === end of old, non-mobile-first styles ===

                    @include mobileStyles {
                        + button {
                            margin: 1em 0;
                        }
                    }
                }
            }
        }
    }
}
