@import '../variables.module.scss';

.testBreakpoints {
    background-color: $red;

    @include tabletStyles {
        background-color: $blue;
    }

    @include desktopStyles {
        background-color: $green;
    }
}
